# Copy this file to .env and fill in the actual values

# Production Database (Read-Only) - Remote server with raw sensor data
# Get these values from professor's presentation

DB_HOST=host                    # Use the correct host, see phppgadmin panel
DB_USER=username_here
DB_PASSWORD=password_here
DB_PORT=port                    # Non-standard port
DB_NAME=database_name_here


# Aggregation Database (Local OR the one the professor gave us)
# Use these defaults if running PostgreSQL locally on your computer
# To create the local DB, use the backend/scripts/create_agg_database.sql

AGG_DB_HOST=
AGG_DB_USER=                    
AGG_DB_PASSWORD=                
AGG_DB_PORT=
AGG_DB_NAME=
