# Database Configuration
# Copy this file to .env and fill in the actual values from our professors presentation.


DB_HOST = host #use the correct port, see the phppgadmin panel
DB_USER = username_here
DB_PASSWORD = password_here
DB_PORT = port #non-standard
DB_NAME = database_name_here
